/*
 * SECTION: Variáveis CSS
 * Define as cores e outras propriedades que podem ser alteradas.
 */
:root {
    /* Modo Escuro */
    --cor-fundo-claro: #24272B;
    --cor-texto-claro: #E0E0E0;
    --cor-borda-claro: #E0E0E0;
    --cor-fundo-elemento-claro: #35393f;
    --cor-fundo-carrossel: #E0E0E0;
    --cor-menu: #004BA8;
}

.modo-claro {
    /* Modo Claro */
    --cor-fundo-claro: #fafafa;
    --cor-texto-claro: #07070A;
    --cor-borda-claro: #07070A;
    --cor-fundo-elemento-claro: #e9e9e9;
    --cor-fundo-carrossel: #24272B;
    --cor-menu: #004BA8;
}

/*
 * SECTION: Seletores Gerais
 */
* {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

html,
body {
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100%;
    background-color: var(--cor-fundo-claro);
    color: var(--cor-texto-claro);
}

hr {
    width: 100%;
    height: 2px;
    background-color: var(--cor-texto-claro);
    border: none;
    opacity: 100;
}

a {
    color: #004BA8;
}

/* Força carousel-item a ter altura da imagem */
.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

/* Títulos opcionais */
.titulo {
    font-weight: 500;
}

/*
 * SECTION: Seletores de ID
 */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#inicio {
    border: 2px solid var(--cor-borda-claro);
    border-radius: 25px;
    background-color: var(--cor-fundo-claro);
    box-sizing: border-box;
    width: 100vw;
    height: 90vh;
}

#links a {
    visibility: hidden;
    font-size: 2rem;
}

a i {
    transition: transform 0.3s ease-in-out;
}

a i:hover {
    transform: scale(1.2);
}

#footerPag {
    background-color: var(--cor-menu);
    color: #f0f0f0;
    padding: 1.5rem;
    position: relative;
    z-index: 1;
}

#footerPag a {
    background-color: var(--cor-menu);
    color: #f0f0f0;
}

/*
 * SECTION: Conteúdo principal e layout
 */
body>.conteudo-principal {
    position: relative;
    z-index: 1;
    min-height: 100%;
}

.conteudo-principal {
    position: relative;
    z-index: 1;
    text-align: center;
}

.btn-primary {
    background-color: var(--cor-menu);
    color: #f0f0f0;
    border-color: var(--cor-menu);
    transition: transform 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: var(--cor-menu);
    transform: scale(1.05);
}

/*
 * SECTION: Componentes de projetos/cartões
 */
.cartaoProjeto {
    border: 2px solid var(--cor-borda-claro);
    background-color: var(--cor-fundo-claro);
}

.tituloCard {
    border-bottom: 2px solid var(--cor-borda-claro);
    padding: 0.4rem;
}

.descricaoCard {
    border-top: 2px solid var(--cor-borda-claro);
    text-align: justify;
    padding: 0.6rem;
}

.linguagensCard {
    border-top: 2px solid var(--cor-borda-claro);
    font-size: 2rem;
    padding: 0.6rem;
}

.projetoProfissional-card {
    border: 2px solid var(--cor-borda-claro);
    background-color: var(--cor-fundo-claro);
}

.projetoProfissional-titulo {
    border-bottom: 2px solid var(--cor-borda-claro);
}

.projetoProfissional-descricao {
    border-top: 2px solid var(--cor-borda-claro);
    padding: 0.6rem;
    text-align: justify;
    font-size: 0.9rem;
}

.projetoProfissional-linguagens {
    border-top: 2px solid var(--cor-borda-claro);
    padding: 0.6rem;
}

.progresso-card-curso {
    font-size: 0.9rem;
}

.progresso-card-curso .descricaoProgresso {
    margin-top: 0.4rem;
}

/*
 * SECTION: Componentes de medida e progresso
 */
.quadrado {
    width: 100%;
    height: 15rem;
    background-color: var(--cor-fundo-elemento-claro);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
}

.barra-medicao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.etapa {
    flex: 1;
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
}

.inicial {
    background-color: #4caf50;
}

.intermediario {
    background-color: #4caf50;
}

.avancado {
    background-color: #4caf50;
}

/*
 * SECTION: Componentes de navegação e carrossel
 */
.carousel-item {
    position: relative;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
}

.carousel-caption.mobile-caption {
    position: static;
    background: var(--cor-fundo-carrossel);
    color: var(--cor-fundo-claro);
    padding: 2.5rem;
    text-align: center;
    margin-top: 0.5rem;
    border-radius: 5px;
}

.tracker-nav {
    background-color: var(--cor-menu);
    color: #fafafa;
    padding: 0.8rem;
}

.tracker-item {
    text-decoration: none;
    color: #fafafa;
    padding: 8px 12px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.tracker-item.active {
    background-color: #3E78B2;
    color: #fafafa;
    font-weight: bold;
}

.tracker-item:hover {
    background-color: #3E78B2;
}

/*
 * SECTION: Imagens e ícones
 */
.circulo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: inline-block;
}

.imagem-fixa {
    width: 25rem;
    height: 150px;
    object-fit: contain;
}

.imagem-pequena {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.projetoProfissional-imagem-pequena {
    width: 100px;
    height: 75px;
    object-fit: contain;
}

.iconesFooter {
    font-size: 1.4rem;
}

.imgResumo {
    visibility: hidden;
}

#hrResumo {
    visibility: hidden;
}

#nome {
    min-height: 2rem;
}

#trabalho {
    min-height: 1.5rem;
}

#links {
    min-height: 2rem;
}

#descricao {
    min-height: 10rem;
}

#indiceNav {
    font-size: 0.90rem;
}

/*
 * SECTION: Media Queries
 */
@media (min-width: 768px) {
    .pad-carrossel {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .footerNormal {
        display: block;
    }

    .footerMobile {
        display: none;
    }

    .iconesFooterNormal {
        display: block;
        font-size: 1.3rem;
    }

    .iconesFooterMobile {
        display: none;
    }
}

@media (max-width: 767px) {
    .palito {
        display: none;
    }

    .footerNormal {
        display: none;
    }

    .footerMobile {
        display: block;
    }

    .iconesFooterMobile {
        font-size: 1.5rem;
        display: block;
    }

    .iconesFooterNormal {
        display: none;
    }

    [data-aos][data-aos-delay] {
        transition-delay: 0s !important;
    }
}

@media (max-width: 1433px) {
    #indiceNav {
        font-size: 0.7rem;
    }

    #indiceNav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: .5rem;
        margin-top: 1rem;
    }


    #inicio {
        border: 3px solid var(--cor-borda-claro);
        border-radius: 25px;
        background-color: var(--cor-fundo-claro);
        box-sizing: border-box;
        width: 100vw;
        height: 88vh;
    }
}